body{
	background: #EEE;
}
h1{
	font-family: 'Open Sans', Helvetica;
	color: #807F7D;
	font-size: 25px;
	font-weight: 300;
}
.mainDiv{
	height: 90vh;
	display: grid;
	justify-items: center;
}
.childDiv{
	align-self: center;
	text-align: center;
	vertical-align:middle;
}
#picture{
	margin: 2px;
	background: white;
	border: solid black 1px
}
input{
	font-size:13px;
}