{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'recog_digit/style.css' %}">
	<title>Handwritten Digit Recognition</title>
</head>

<body>

	<div class="container mainDiv">
		<div class="childDiv">
			<h1 class="">Upload Image</h1>

			<div class="centered">
				<input type="file" name="picture" id="picture" />
			</div>

			<div class="centered">
				<input type="button" class="myButton" id="btnANN" value="Predict(ANN)" style="">
				<input type="button" class="myButton" id="btnCNN" value="Predict(CNN)" style="">
			</div>

			<div class="centered">
				<h1 id="result"></h1>
			</div>
			<div class="centered">
				<p><b>Write on screen ? <a href="/digit"> click here </a></b></p>
			</div>
		</div>
	</div>
	

<script src="{% static 'recog_digit/jquery-3.2.0.min.js' %}"></script>
<script type="text/javascript">

	const fileInput = document.querySelector("input");
	let imgData;
	fileInput.addEventListener("change", (e) => {
		file = fileInput.files[0];
		const reader = new FileReader();
		reader.onloadend = () => {
			imgData = reader.result;
		};
		reader.readAsDataURL(file);
	});

	// ANN Post request
	$("#btnANN").click(function(){
		$('#result').text('  Predicting...');
		$.ajax({
			type: "POST",
			url:"/digit/", <!-- this api is implemented in the backend >
			data: imgData,
			success: function(data){ <!-- return of the api is taken as the function(data) >
				$('#result').text('Result: ' + data);
			}
		});

	});

	// CNN Post request
	$("#btnCNN").click(function(){
		$('#result').text('  Predicting...');
		$.ajax({
			type: "POST",
			url:"/digit/cnn/", <!-- this api is implemented in the backend >
			data: imgData,
			success: function(data){ <!-- return of the api is taken as the function(data) >
				$('#result').text('Result: ' + data);
			}
		});

	});
</script>
</body>
</html>